{
    
   "printWidth": 120, 
   "tabWidth": 2, 
   "useTabs": false, 
   "semi": true, 
   "singleQuote": false, 
   "quoteProps": "as-needed",
   "proseWrap": "preserve", 
   "bracketSpacing": true, 
   "endOfLine": "auto", 
   "eslintIntegration": false, 
   "htmlWhitespaceSensitivity": "ignore",
   "ignorePath": ".prettierignore", 
   "requireConfig": false, 
   "stylelintIntegration": false, 
   "tslintIntegration": false 
  }
  